* {
  box-sizing: border-box;
}
body,
html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 100%;
}
#container {
  width: calc(100vw-4rem);
  height: calc(100vh-4rem);
  position: relative;
  padding-left: 2rem;
  padding-top: 2rem;
}

.box {
  position: absolute;
  border: 1px solid black;
  cursor: pointer;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-in-box {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-delay: 0.3s;
}

.label {
  padding: 0.3rem;
  display: block;
  white-space: nowrap;
  font-size: 0.7rem;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}
