* {
  box-sizing: border-box;
}
body,
html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 100%;
}
#container {
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  margin-left: 2rem;
}

.treemap {
  position: relative;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
  transform-origin: 0 0;
  border: 1px solid black;
  transition: box-shadow 0.25s linear, border 0.2s;
  &:hover {
    box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.4);
  }
  .label-container {
    overflow: hidden;
  }
}

.box-transition-position {
  .box {
    transition: box-shadow 0.25s linear,
      transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}

.animation-in-progress {
  .label {
    opacity: 0;
  }
  .box {
    border: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-in-box {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  animation-delay: 0.2s;
}

.animate-out-box {
  animation: fadeOut 0.25s forwards;
}

.label {
  transition: opacity 0.2s;
  padding: 0.3rem;
  display: block;
  white-space: nowrap;
  font-size: 0.75rem;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.breadcrumb-container {
  height: 1.5rem;
  margin: 0.5rem 0;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  li {
    &:last-of-type {
      a {
        font-weight: 500;
        color: black;
        &:hover {
          text-decoration: none;
        }
      }
    }
    a {
      cursor: pointer;
      text-decoration: none;
      color: hsl(225, 58%, 45%);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.tooltip-name {
  margin-bottom: 0.3rem;
}

.tippy-content {
  font-size: 0.9rem;
}
.tippy-popper {
  opacity: 0.9;
}
